name: Continuous Integration


on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


env:
  PYTHON_VERSION: '3.10'


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}   # [git-version] checkout the correct branch name
          fetch-depth: 0                # [git-version] fetch the whole repo history

      - name: Set Up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install flake8 pytest
          pip install -r requirements.txt

      - name: Lint Files
        run: flake8 . --count --show-source --statistics --max-complexity=10 --max-line-length=120

      - name: Run Tests
        run: pytest --color=yes --code-highlight=yes
