name: Continuous Integration

on:
  push:
    branches: [ main ]
  pull_requests:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Set Up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: 3.10
          cache: pip
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install flake8 pytest
          pip install -r requirements.txt
      - name: Lint Files
        run: flake8 . --count --show-source --statistics --color=always --max-complexity=10 --max-line-length=120
      - name: Run Tests
        run: pytest --color=yes --code-highlight=yes
